<!-- footer-area strat--> 
<section class="footer-area">
    <div class="footer-container">
        <div class="fooetr-top-items">
            <div class="footer-help-item f-item-one">
                <h3>help</h3>
                <ul>
                    <li><a href="javascprit:void(0)">return policy</a></li>
                    <li><a href="javascprit:void(0)">start a return</a></li>
                    <li><a href="javascprit:void(0)">track order</a></li>
                    <li><a href="javascprit:void(0)">size guides</a></li>
                    <li><a href="javascprit:void(0)">bra calculator</a></li>
                    <li><a href="javascprit:void(0)">ordering</a></li>
                    <li><a href="javascprit:void(0)">shipping</a></li>
                    <li><a href="javascprit:void(0)">international</a></li>
                    <li><a href="javascprit:void(0)">FAQs</a></li>
                    <li><a href="javascprit:void(0)">careers</a></li>
                </ul>
            </div>
            <div class="footer-help-item">
                <h3>STAY IN THE KNOW</h3>
                <p>Be the first one to receive new releases, special offers, and more</p>

                <form class="subscribe_form footer-form">
                    <div class="input-group">
                       <input type="email" class="form-control" name="email" placeholder="Your email">
                       <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fal fa-chevron-right"></i></button>
                       </span>
                    </div>
                </form>
                <small>By signing up you agree to receive recurring automated marketing message from SKIMS. View Terms & Privacy</small>
                <h4 class="sb-text"> <p>Text</p> SKIMS <p> to </p> 68805 <p> to never miss a drop!</p></h4>
                <small>By signing up via text, you agree to receive recurring automated promotional and personalized marketing text messages (e.g. cart reminders) from SKIMS at the cell number used when signing up. Consent is not a condition of any purchase. Reply HELP for help and STOP to cancel. Msg frequency varies. Msg & data rates may apply. View Terms & Privacy.
                </small>

                <ul class="footer-socil-item">
                    <li><a href="javascprit:void(0)"><i class="fab fa-instagram"></i></a></li> 
                    <li><a href="javascprit:void(0)"><i class="fab fa-twitter"></i></a></li> 
                    <li><a href="javascprit:void(0)"><i class="fab fa-facebook-f"></i></a></li> 
                    <li><a href="javascprit:void(0)"><i class="fab fa-pinterest-p"></i></a></li> 
                    <li><a href="javascprit:void(0)"><i class="fab fa-youtube"></i></a></li> 
                    <li><a href="javascprit:void(0)"><i class="fab fa-tiktok"></i></a></li>  
                </ul>

                <!-- footer help & more -->
                <ul class="cl-start-wrap help-571">
                    <li class="cl-item f-help-m">
                        <div class="cl-label-wrap">
                            <span class="cl-label-title">HELP</span> 
                            <span class="cl-label-tools">
                                <a href="javascprit:void(0)"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <ul class="ftps-ul">
                            <li class="cl-item">
                                <div class="cl-label-wrap">
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">return policy</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">start a return</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">track order</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">size guides</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">bra calculator</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">ordering</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">shipping</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">FAQs</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">careers</a> 
                                </div> 
                            </li> 
                        </ul>
                    </li> 
                    <li class="cl-item f-help-m">
                        <div class="cl-label-wrap">
                            <span class="cl-label-title">MORE</span> 
                            <span class="cl-label-tools">
                                <a href="javascprit:void(0)"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <ul class="ftps-ul">
                            <li class="cl-item">
                                <div class="cl-label-wrap">
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">about</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">influencers</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">stockists</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">resources</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">e-gift card</a>  
                                    <a href="javascprit:void(0)" class="cl-label-title ftps-a">contact us</a>   
                                </div> 
                            </li> 
                        </ul>
                    </li>
                </ul>
            </div> 
            <div class="footer-help-item f-item-one">
                <h3>MORE</h3>
                <ul>
                    <li><a href="javascprit:void(0)">about</a></li>
                    <li><a href="javascprit:void(0)">influencers</a></li>
                    <li><a href="javascprit:void(0)">stockists</a></li>
                    <li><a href="javascprit:void(0)">resources</a></li>
                    <li><a href="javascprit:void(0)">e-gift card</a></li>
                    <li><a href="javascprit:void(0)">contact us</a></li> 
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <ul class="header-sigin-btn footer-cuntry"> 
                <li class="currency-switcher-li f-cs-li">  
                    <div class="currency-switcher">
                        <div class="dropdown">
                          <div class="caption">
                            <div class="n-flag">
                                <img src="{{'n-flag.png' | asset_url }}" alt="">
                            </div> 
                                USA
                          </div>
                          <div class="list">
                            <div class="item selected" data-item="RUB">
                                <div class="n-flag">
                                    <img src="{{'n-flag.png' | asset_url }}" alt="">
                                </div>  
                                    USA
                            </div>
                            <div class="item" data-item="RUB">
                                <div class="n-flag">
                                    <img src="{{'n-flag.png' | asset_url }}" alt="">
                                </div>
                              Россия
                              <!-- <span>RUB</span> -->
                            </div>
                            <div class="item" data-item="UAH">
                                <div class="n-flag">
                                    <img src="{{'n-flag.png' | asset_url }}" alt="">
                                </div>
                              Украина
                              <!-- <span>UAH</span> -->
                            </div>
                            <div class="item" data-item="USD">
                                <div class="n-flag">
                                    <img src="{{'n-flag.png' | asset_url }}" alt="">
                                </div>
                            Россия
                            </div>
                          </div>
                        </div>
                    </div>
                </li>  
            </ul>
            <ul class="footer-bottom-act">
                <li><a href="javascprit:void(0)">Acessibility</a></li>
                <li><a href="javascprit:void(0)">Privacy</a></li>
                <li><a href="javascprit:void(0)">Terms</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- footer-area end-->  

{% schema %}
  {
    "name": "Footer Global",
    "settings": [
      {
        "type": "image_picker",
        "id": "header_logo_desktop",
        "label": "Desktop Logo"
      },
      {
        "type": "image_picker",
        "id": "header_logo_mobile",
        "label": "Mobile Logo"
      },
      {
        "type": "text",
        "id": "how_work_banner_title",
        "label": "Banner Title",
        "default": "Title of this Banner"
      },
      {
        "type": "text",
        "id": "how_work_banner_subtitle",
        "label": "Banner Sub Title",
        "default": "Sub Title of this Banner"
      },
       {
        "type": "url",
        "id": "how_work_banner_url",
        "label": "Banner Button URL"
      },
      {
        "type": "url",
        "id": "how_work_inner_section_button_url",
        "label": "Main section Button URL"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}