<!-- footer-area strat--> 
<section class="footer-area">
    <div class="footer-container">
        <div class="fooetr-top-items">
            <div class="footer-help-item f-item-one">
                <h3>{{ section.settings.footer_first_menu_title }}</h3>
                <ul>
                    {% for link in section.settings.footer_first_menu.links %}
                        <li>
                            <a href="{{ link.url }}" class="cl-label-title ftps-a">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-help-item">
                {%- if section.settings.show_newsletter -%}
                <h3>{{ section.settings.newsletter_title }}</h3>
                <p>{{ section.settings.newsletter_text }}</p>

                {%- form 'customer', id: 'ContactFooter', class: 'subscribe_form footer-form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="input-group">
                        <input
                          id="NewsletterForm--{{ section.id }}"
                          type="email"
                          name="contact[email]"
                          class="form-control"
                          value="{{ form.email }}"
                          aria-required="true"
                          autocorrect="off"
                          autocapitalize="off"
                          autocomplete="email"
                          {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="ContactFooter-error"
                          {% elsif form.posted_successfully? %}
                            aria-describedby="ContactFooter-success"
                          {% endif %}
                          placeholder="Your Email"
                          required
                        >
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" name="commit" id="Subscribe" aria-label="newsletter">
                                <img src="{{  'right arrow 2.svg' | asset_url }}" alt="">
                            </button>
                        </span>
                    </div>
                    <div class="form_extra">
                      {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                      {%- endif -%}
                    {%- if form.posted_successfully? -%}
                      <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ newsletter.success }}</h3>
                    {%- endif -%}
                    </div>
                  {%- endform -%}
                <small>{{ section.settings.newsletter_subscribe_text }}</small>
                <h4 class="sb-text">{{ section.settings.newsletter_sms_text }}</h4>
                <small>
                    {{ section.settings.newsletter_footer_text }}
                </small>
                {%- endif -%}
                {%- if section.settings.show_social -%}
                    <ul class="footer-socil-item" role="list">
                        {%- if settings.social_twitter_link != blank -%}
                        <li>
                            <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                            {%- render 'icon-twitter' -%}
                            <span class="visually-hidden">{{ general.social.links.twitter }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                        {%- if settings.social_facebook_link != blank -%}
                        <li>
                            <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                            {%- render 'icon-facebook' -%}
                            <span class="visually-hidden">{{ general.social.links.facebook }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                        {%- if settings.social_pinterest_link != blank -%}
                        <li>
                            <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                            {%- render 'icon-pinterest' -%}
                            <span class="visually-hidden">{{ general.social.links.pinterest }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                        {%- if settings.social_instagram_link != blank -%}
                        <li>
                            <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                            {%- render 'icon-instagram' -%}
                            <span class="visually-hidden">{{ general.social.links.instagram }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                        {%- if settings.social_tiktok_link != blank -%}
                        <li>
                            <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                            {%- render 'icon-tiktok' -%}
                            <span class="visually-hidden">{{ general.social.links.tiktok }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                        {%- if settings.social_tumblr_link != blank -%}
                        <li>
                            <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                            {%- render 'icon-tumblr' -%}
                            <span class="visually-hidden">{{ general.social.links.tumblr }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                        {%- if settings.social_snapchat_link != blank -%}
                        <li>
                            <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                            {%- render 'icon-snapchat' -%}
                            <span class="visually-hidden">{{ general.social.links.snapchat }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                        {%- if settings.social_youtube_link != blank -%}
                        <li>
                            <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                            {%- render 'icon-youtube' -%}
                            <span class="visually-hidden">{{ general.social.links.youtube }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                        {%- if settings.social_vimeo_link != blank -%}
                        <li>
                            <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                            {%- render 'icon-vimeo' -%}
                            <span class="visually-hidden">{{ general.social.links.vimeo }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                    </ul>
                {%- endif -%}
                
                <!-- footer help & more -->
                <ul class="cl-start-wrap help-571">
                    <li class="cl-item f-help-m">
                        <div class="cl-label-wrap">
                            <span class="cl-label-title">{{ section.settings.footer_first_menu_title }}</span> 
                            <span class="cl-label-tools">
                                <a href="javascprit:void(0)"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <ul class="ftps-ul">
                            <li class="cl-item">
                                <div class="cl-label-wrap">
                                    {% for link in section.settings.footer_first_menu.links %}
                                        <a href="{{ link.url }}" class="cl-label-title ftps-a">{{ link.title }}</a>
                                    {% endfor %}
                                </div> 
                            </li> 
                        </ul>
                    </li> 
                    <li class="cl-item f-help-m">
                        <div class="cl-label-wrap">
                            <span class="cl-label-title">{{ section.settings.footer_second_menu_title }}</span> 
                            <span class="cl-label-tools">
                                <a href="javascprit:void(0)"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <ul class="ftps-ul">
                            <li class="cl-item">
                                <div class="cl-label-wrap">
                                    {% for link in section.settings.footer_second_menu.links %}
                                        <a href="{{ link.url }}" class="cl-label-title ftps-a">{{ link.title }}</a>
                                    {% endfor %}
                                </div> 
                            </li> 
                        </ul>
                    </li>
                </ul>
            </div> 
            <div class="footer-help-item f-item-one">
                <h3>{{ section.settings.footer_second_menu_title }}</h3>
                <ul>
                    {% for link in section.settings.footer_second_menu.links %}
                        <li>
                            <a href="{{ link.url }}" class="cl-label-title ftps-a">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <ul class="header-sigin-btn footer-cuntry"> 
                <li class="currency-switcher-li f-cs-li">  
                    <div class="currency-switcher">
                        <div class="dropdown">
                          <div class="caption">
                            <div class="n-flag">
                                <img src="{{'flag.svg' | asset_url }}" alt="">
                            </div> 
                                USA
                          </div>
                          <div class="list">
                            <div class="item selected" data-item="RUB">
                                <div class="n-flag">
                                    <img src="{{'flag.svg' | asset_url }}" alt="">
                                </div>  
                                    USA
                            </div>
                            <div class="item" data-item="RUB">
                                <div class="n-flag">
                                    <img src="{{'flag.svg' | asset_url }}" alt="">
                                </div>
                              Россия
                              <!-- <span>RUB</span> -->
                            </div>
                            <div class="item" data-item="UAH">
                                <div class="n-flag">
                                    <img src="{{'flag.svg' | asset_url }}" alt="">
                                </div>
                              Украина
                              <!-- <span>UAH</span> -->
                            </div>
                            <div class="item" data-item="USD">
                                <div class="n-flag">
                                    <img src="{{'flag.svg' | asset_url }}" alt="">
                                </div>
                            Россия
                            </div>
                          </div>
                        </div>
                    </div>
                </li>  
            </ul>
            <ul class="footer-bottom-act">
                {% for link in section.settings.footer_privacy_menu.links %}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<!-- footer-area end-->  

{% schema %}
  {
    "name": "Footer Global",
    "settings": [
      {
        "type": "image_picker",
        "id": "header_logo_desktop",
        "label": "Desktop Logo"
      },
      {
        "type": "image_picker",
        "id": "header_logo_mobile",
        "label": "Mobile Logo"
      },
      {
        "type": "link_list",
        "id": "footer_first_menu",
        "label": "Footer First Menu"
      },
      {
        "type": "text",
        "id": "footer_first_menu_title",
        "label": "Footer First Menu Title"
      },
      {
        "type": "link_list",
        "id": "footer_second_menu",
        "label": "Footer Second Menu"
      },
      {
        "type": "text",
        "id": "footer_second_menu_title",
        "label": "Footer Second Menu Title"
      },
      {
        "type": "link_list",
        "id": "footer_privacy_menu",
        "label": "Footer Privacy Menu"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "default": false,
        "label": "Display Social Links"
    },
    {
        "type": "header",
        "content": "Newsletter Settings"
    },
    {
        "type": "checkbox",
        "id": "show_newsletter",
        "default": false,
        "label": "Display Newsletter"
    },
    {
        "type": "text",
        "id": "newsletter_title",
        "label": "Newsletter Title"
      }, 
      {
        "type": "text",
        "id": "newsletter_text",
        "label": "Newsletter text"
      },
      {
        "type": "text",
        "id": "newsletter_subscribe_text",
        "label": "Newsletter Subscribe text"
      },
      {
        "type": "html",
        "id": "newsletter_sms_text",
        "label": "Newsletter SMS text"
      },
      {
        "type": "textarea",
        "id": "newsletter_footer_text",
        "label": "Newsletter Footer text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}