<!-- header area strat -->
<header class="fast-header-area">
  <div class="container">
    <div class="fast-header-item">
      <div class="main-logo">
        <a class="logo" href="{{ routes.root_url }}"><img src="{{ section.settings.header_logo_desktop | img_url: 'master' }}" alt="Logo"></a>
        <a class="logo-991" href="{{ routes.root_url }}"><img src="{{ section.settings.header_logo_mobile | img_url: 'master' }}" alt="Logo"></a>
      </div>
      <div class="fast-mobile-menu">
        <ul class="fast-header-menu">
          {% for link in section.settings.header_menu.links %}
            <li class="menu-link">
              <a href="{{ link.url }}" class="menu-item">{{ link.title }}</a>

              {% if link.links.size > 0 %}
                <ul class="dropdown-pges-ul dropdown-menu menu dropdown-child">
                  {% for child_link in link.links %}
                    <li class="menu-link">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                      {% if child_link.links.size > 0 %}
                        <ul class="menu dropdown-grandchild">
                          {% for grandchild_link in child_link.links %}
                            <li class="menu-link">
                              <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <ul class="header-sigin-btn">
        <li class="currency-switcher-li">
          <div class="currency-switcher">
            <div class="dropdown">
              <div class="caption">
                <div class="n-flag">
                  <img src="{{'flag.svg' | asset_url  }}" alt="">
                </div>
                USA
              </div>
              <div class="list">
                <div class="item selected" data-item="RUB">
                  <div class="n-flag">
                    <img src="{{'flag.svg' | asset_url  }}" alt="">
                  </div>
                  USA
                </div>
                <div class="item" data-item="RUB">
                  <div class="n-flag">
                    <img src="{{'flag.svg' | asset_url  }}" alt="">
                  </div>
                  Россия
                  <!-- <span>RUB</span> -->
                </div>
                <div class="item" data-item="UAH">
                  <div class="n-flag">
                    <img src="{{'flag.svg' | asset_url  }}" alt="">
                  </div>
                  Украина
                  <!-- <span>UAH</span> -->
                </div>
                <div class="item" data-item="USD">
                  <div class="n-flag">
                    <img src="{{'flag.svg' | asset_url  }}" alt="">
                  </div>
                  Россия
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="search-option">
            <!-- Search elament -->
            <div class="navigation-bar">
              <button type="button" class="simple-icon searchBoxToggler">
                <img src="{{'Search.svg' | asset_url  }}" alt="search">
              </button>
            </div>

          </div>
        </li>
        <li class="header-user-991">
          <a href="/account"><img src="{{'Profile.svg' | asset_url  }}" alt="My account"></a>
        </li>
        <li class="header-bag-991">
          <a href="/cart"><img src="{{'shopping.svg' | asset_url  }}" alt="My cart"></a>
        </li>
      </ul>
      <div class="header-r-991">
        <ul>
          <li class="header-bag-991">
            <a href="/cart"><img src="{{'Shopping2.svg' | asset_url  }}" alt="My cart"></a>
          </li>
        </ul>
        <button class="menu-oparetor sidebar-menu" id="menu-opener">
          <img src="{{'Menu Bar.svg' | asset_url  }}" alt="My cart">
        </button>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->


<div class="sidebar-menus">
  <div class="container">
    <div class="remove-one">
      <img src="{{ 'remove.svg' | asset_url }}">
    </div>
    <div class="header-menu-item mobile-menu">
      <ul>
        <li class="dropdown">
          <a href="javascprit:void(0)">relf</a>
          <ul>
            <li>
              <a href="javascprit:void(0)">dfglsfg</a>
            </li>
          </ul>
          <div class="dropdown-btn">
            <img src="{{ 'iconplus.svg' | asset_url }}">
          </div>
        </li>
        <li class="dropdown">
          <a href="javascprit:void(0)">gifts</a>
          <ul>
            <li>
              <a href="javascprit:void(0)">gifts</a>
            </li>
            <li>
              <a href="javascprit:void(0)">gifts</a>
            </li>
            <li>
              <a href="javascprit:void(0)">gifts</a>
            </li>
          </ul>
          <div class="dropdown-btn">
            <img src="{{ 'iconplus.svg' | asset_url }}">
          </div>
        </li>
        <li class="dropdown">
          <a href="javascprit:void(0)">best sellers</a>
          <ul>
            <li>
              <a href="javascprit:void(0)">best sellers</a>
            </li>
          </ul>
          <div class="dropdown-btn">
            <img src="{{ 'iconplus.svg' | asset_url }}">
          </div>
        </li>
        <li class="dropdown">
          <a href="javascprit:void(0)">accessories</a>
          <ul>
            <li class="dropdown">
              <a class="featured" href="javascprit:void(0)">featured</a>
              <ul>
                <li>
                  <a href="javascprit:void(0)">jacket</a>
                </li>
                <li>
                  <a href="javascprit:void(0)">shirts &amp; shorts pajama</a>
                </li>
                <li>
                  <a href="javascprit:void(0)">flare pants</a>
                </li>
                <li>
                  <a href="javascprit:void(0)">bodysuit</a>
                </li>
                <li>
                  <a href="javascprit:void(0)">cargo pents</a>
                </li>
                <li>
                  <a href="javascprit:void(0)">jersey</a>
                </li>
                <li>
                  <a href="javascprit:void(0)">braletty</a>
                </li>
                <li>
                  <a href="javascprit:void(0)">mini skirts</a>
                </li>
                <li>
                  <a href="javascprit:void(0)">joggers</a>
                </li>
              </ul>
              <div class="dropdown-btn">
                <img src="{{ 'iconplus.svg' | asset_url }}">
              </div>
            </li>
          </ul>
          <div class="dropdown-btn">
            <img src="{{ 'iconplus.svg' | asset_url }}">
          </div>
        </li>
        <li>
          <a href="javascprit:void(0)">shirts</a>
        </li>
        <li>
          <a href="javascprit:void(0)">outerwear</a>
        </li>
        <li>
          <a href="javascprit:void(0)">bottoms</a>
        </li>
        <li class="dropdown">
          <a href="javascprit:void(0)">best sellers</a>
          <ul>
            <li>
              <a href="javascprit:void(0)">collaborations</a>
            </li>
          </ul>
          <div class="dropdown-btn">
            <img src="{{ 'iconplus.svg' | asset_url }}">
          </div>
        </li>
        <li>
          <a href="#">sale</a>
        </li>
        <li class="dropdown">
          <a href="javascprit:void(0)">more</a>
          <ul>
            <li>
              <a href="javascprit:void(0)">more</a>
            </li>
            <li>
              <a href="javascprit:void(0)">more</a>
            </li>
            <li>
              <a href="javascprit:void(0)">more</a>
            </li>
          </ul>
          <div class="dropdown-btn">
            <img src="{{ 'iconplus.svg' | asset_url }}">
          </div>
        </li>
      </ul>
    </div>
    <div class="mobile-menu-logins">
      <a href="javascprit:void(0)">login</a>
      <p>currency:</p>
      <p>shopping Bag
        <span>
          <img src="{{ 'Shoppingbagblack.svg' | asset_url }}">
        </span>
      </p>
    </div>
    <ul class="cl-start-wrap help-571 mm-help">
      <li class="cl-item f-help-m">
        <div class="cl-label-wrap">
          <span class="cl-label-title">HELP</span>
          <span class="cl-label-tools">
            <a href="javascprit:void(0)">
              <img src="{{ 'iconplus.svg' | asset_url }}">
            </a>
          </span>
        </div>
        <ul class="ftps-ul">
          <li class="cl-item cl-item-no-sub">
            <div class="cl-label-wrap">
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">return policy</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">start a return</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">track order</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">size guides</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">bra calculator</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">ordering</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">shipping</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">FAQs</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">careers</a>
            </div>
          </li>
        </ul>
      </li>
      <li class="cl-item f-help-m">
        <div class="cl-label-wrap">
          <span class="cl-label-title">MORE</span>
          <span class="cl-label-tools">
            <a href="javascprit:void(0)">
              <img src="{{ 'iconplus.svg' | asset_url }}">
            </a>
          </span>
        </div>
        <ul class="ftps-ul">
          <li class="cl-item cl-item-no-sub">
            <div class="cl-label-wrap">
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">about</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">influencers</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">stockists</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">resources</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">e-gift card</a>
              <a href="javascprit:void(0)" class="cl-label-title ftps-a">contact us</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>


{% schema %}
  {
    "name": "Header Global",
    "settings": [
      {
        "type": "image_picker",
        "id": "header_logo_desktop",
        "label": "Desktop Logo"
      }, {
        "type": "image_picker",
        "id": "header_logo_mobile",
        "label": "Mobile Logo"
      }, {
        "type": "link_list",
        "id": "header_menu",
        "label": "Header Menu"
      }
    ]
  }
{% endschema %}