 <!-- justin-area strAT --> 
 <section class="product-area product-one">
    <div class="product-container">
        <ul class="product-title nav nav-tabs">
            {% for block in section.blocks %}  
            <li><a class="product-toggle {% if forloop.index == 1 %}active {% endif %}" data-bs-toggle="tab" data-bs-target="#nav-tab{{ forloop.index }}" type="button" role="tab" aria-controls="nav-home" aria-selected="{% if forloop.index == 1 %}true {% else %} false{% endif %}"  href="#nav-tab{{ forloop.index }}">{{ block.settings.tab_name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for block in section.blocks %}  
            <div class="splide product-slider {% if forloop.index == 1 %}tab-pane active {% else %} tab-pane fade {% endif %}" id="#nav-tab{{ forloop.index }}">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for product in collections[block.settings.tab_collection].products %}
                          <li class="splide__slide">
                            <a class="product-items" href="{{ product.url }}">
                              <div class="product_image_wrapper">
                                <img
                                class="product-item-img firstImage"
                                src="{{ product.featured_image | img_url: 'medium' }}"
                                alt="{{ product.title }}">
                                {% if product.images[1] %}
                                <img class="product-item-img secondImage" src="{{ product.images[1] | product_img_url: 'medium' }}" alt="{{ product.title }}">
                              {% endif %}
                              </div>
                              <div class="product-item-p-text">
                                <p class="product-item-text">{{ product.title }}</p>
                                <p class="product-item-text">
                                  <div class="price__sale">
                                    {%- unless product.price_varies == false and product.compare_at_price_varies %}
                                      <span class="visually-hidden visually-hidden--inline">{{ products.product.price.regular_price }}</span>
                                      <span>
                                        <s class="price-item price-item--regular">
                                          {% if settings.currency_code_enabled %}
                                            {{ compare_at_price | money_with_currency }}
                                          {% else %}
                                            {{ compare_at_price | money }}
                                          {% endif %}
                                        </s>
                                      </span>
                                    {%- endunless -%}
                                    <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
                                    <span class="price-item price-item--sale price-item--last">
                                      {{ product.price  | money}}
                                    </span>
                                  </div>
                                </p>
                              </div>
                            </a>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section> 
<!-- justin-area end -->
{% schema %}
    {
      "name": "Product Tab Slider",
      "settings": [
      ],
      "blocks": [
      {
        "name": "Product Tab Slider",
        "type": "slide",
        "settings": [
        {
          "type": "text",
          "id": "tab_name",
          "label": "Tab Or Collection Title"
        },
        {
        "type": "collection",
        "id": "tab_collection",
        "label": "Pick Collection"
        }
        ]
      }
    ],
    "presets": [
    {
      "name": "Product Tab Slider",
      "category": "section"
    }
  ]
    }
  {% endschema %}
  
  {% stylesheet %}
  
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}