<!-- justin-area strAT -->  
<section class="product-area">
    <div class="product-container">
        <ul class="product-title nav nav-tabs">
            <li><a class="product-toggle active">{{ section.settings.product_grid_name }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="splide product-slider" id="#{{ section.id }}">
                <div class="splide__track">
                    <ul class="splide__list">
                      {% for product in collections[section.settings.product_grid_collection].products %}
                          <li class="splide__slide">
                            <a class="product-items" href="{{ product.url }}">
                              <img
                                class="product-item-img"
                                src="{{ product.featured_image | img_url: 'medium' }}"
                                alt="{{ product.title }}">
                              <div class="product-item-p-text">
                                <p class="product-item-text">{{ product.title }}</p>
                                <div class="price__sale">
                                  {%- unless product.price_varies == false and product.compare_at_price_varies %}
                                    <span class="visually-hidden visually-hidden--inline">{{ products.product.price.regular_price }}</span>
                                    <span>
                                      <s class="price-item price-item--regular">
                                        {% if settings.currency_code_enabled %}
                                          {{ compare_at_price | money_with_currency }}
                                        {% else %}
                                          {{ compare_at_price | money }}
                                        {% endif %}
                                      </s>
                                    </span>
                                  {%- endunless -%}
                                  <span class="visually-hidden visually-hidden--inline">{{ products.product.price.sale_pricet }}</span>
                                  <span class="price-item price-item--sale price-item--last">
                                    {{ money_price }}
                                  </span>
                                </div>
                                <p class="product-item-text">{{ product.price | money }}</p>
                              </div>
                            </a>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</section>
<!-- justin-area end -->
{% schema %}
    {
      "name": "Simple Product Grid",
      "settings": [
        {
          "type": "text",
          "id": "product_grid_name",
          "label": "Product Grid Section Name"
        },
        {
        "type": "collection",
        "id": "product_grid_collection",
        "label": "Pick Collection"
        }
      ],
    "presets": [
    {
      "name": "Simple Product Grid",
      "category": "section"
    }
  ]
    }
  {% endschema %}
  
  {% stylesheet %}
  
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}