<!-- justin-area strAT -->  
<section class="justin-area">
    <div class="justin-container">
        <ul class="justin-title nav nav-tabs">
            <li><a class="justin-togol active">{{ section.settings.product_grid_name }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="splide justin-slider trending tab-pane active" id="#menu1">
                <div class="splide__track">
                    <ul class="splide__list">
                      {% for product in collections[block.settings.product_grid_collection].products %}
                          <li class="splide__slide">
                            <a class="justin-items" href="{{ product.url }}">
                              <img
                                class="justin-item-img"
                                src="{{ product.featured_image | img_url: 'medium' }}"
                                alt="{{ product.title }}">
                              <div class="justin-item-p-text">
                                <p class="justin-item-text">{{ product.title }}</p>
                                <p class="justin-item-text">{{ product.price | money }}</p>
                              </div>
                            </a>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</section>  
{% for product in collections[block.settings.product_grid_collection].products %}
 
      <img
        class="justin-item-img"
        src="{{ product.featured_image | img_url: 'medium' }}"
        alt="{{ product.title }}">
      <div class="justin-item-p-text">
        <p class="justin-item-text">{{ product.title }}</p>
        <p class="justin-item-text">{{ product.price | money }}</p>
      </div>

{% endfor %}
<!-- justin-area end -->
{% schema %}
    {
      "name": "Tranding Product Grid",
      "settings": [
        {
          "type": "text",
          "id": "product_grid_name",
          "label": "Product Grid Section Name"
        },
        {
        "type": "collection",
        "id": "product_grid_collection",
        "label": "Pick Collection"
        }
      ],
    "presets": [
    {
      "name": "Tranding Product Grid",
      "category": "section"
    }
  ]
    }
  {% endschema %}
  
  {% stylesheet %}
  
  {% endstylesheet %}
  <script>
  

 {% comment %} new Splide( '.trending', {
      perPage: 4,
      gap    : '27px',
      type: 'loop', 
      perMove: 1,
      pagination: false, 
      breakpoints: {
        1024: {
          perPage: 3, 
        },
        640: {
          perPage: 2, 
        },
      //   480: {
      //     perPage: 1, 
      //   },
      },
  }).mount();  {% endcomment %}

  </script>