<!-- justin-area strAT -->  
<section class="product-area">
    <div class="product-container">
        <ul class="product-title nav nav-tabs pb-5">
            <li><a class="product-toggle active">{{ section.settings.product_grid_name }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="collection_grid row pt-4">
            {% for product in collections[section.settings.product_grid_collection].products limit:8 %}
              <div class="col-md-3">
                <div class="collection_item">
                  <a class="product-items" href="{{ product.url }}">
                    <div class="product_image_wrapper">
                      <img
                      class="product-item-img firstImage"
                      src="{{ product.featured_image | img_url: 'medium' }}"
                      alt="{{ product.title }}">
                      {% if product.images[1] %}
                      <img class="product-item-img secondImage" src="{{ product.images[1] | product_img_url: 'medium' }}" alt="{{ product.title }}">
                   
                    {% endif %}
                     </a>
                       </div>
                      <div class="product-item-p-text">
                        <form method="post" action="/cart/add" class="add_to_cart_form">
                          <input type="hidden"  name="id" value="{{ product.first_available_variant.id }}" />
                          <input type="submit"  class="addcart__buttonwrap theme-btn shape-btn bg-black" data-id="{{ product.first_available_variant.id }}"  value="Add to cart" />
                        </form> 
                        <p class="product-item-text">{{ product.title }}</p>
                        <p class="product-item-text product_price">
                          {% if product.compare_at_price > product.price %}
                          <span class="sale-price">{{ product.price | money }}</span>
                          <span class="regular-price compare_at_price"><del>{{ product.compare_at_price | money }}</del></span>
                          {% else %}
                            <span class="regular-price">{{ product.price | money }}</span>
                          {% endif %}
                        </p>
                      </div>
                    {% unless product.available %}<strong class="product__badge_soldout">sold out</strong>{% endunless %}
        
                </div>
              </div>
              {% endfor %}
            </div>
        </div> 
    </div>
</section>

<script>
  $('.cart_icon').click(function() {
    $('body').addClass('drawer-open');
  });

  $('.main-card-remove,.drawer-overlap').click(function() {
    $('body').removeClass('drawer-open');
  });


  $('.add_to_cart_form').on('submit', function(e){

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '/cart/add.js',
      dataType: 'json',
      data: {
        quantity: 1,
        id: $(this).find('.addcart__buttonwrap').data("id")
      },
      success: function(data) {
       
          get_cart_details();
      },
      error: function(data) {
        console.log("No data is found");
         
     }
    });

  });


  function get_cart_details() {
   
    fetch("/?section_id=cart-drawyer").then((response) => response.text() ).then((cartData) => {
      var cart_html = $(cartData);
      var cart_items = $(".product_items_subwrapper", cart_html);
      var cart_count = $(".cart-drawer__count", cart_html);
      var cart_subtotal = $(".cart-drawer__total-amount", cart_html);
      {% comment %} var cartData2 = JSON.parse(cart_items); {% endcomment %}
      $(".cart-drawer__content").replaceWith(cart_items);
      $('.cart-drawer__count').replaceWith(cart_count);
      $('.cart-drawer__total-amount').replaceWith(cart_subtotal);
      console.log("this is working");

      $('body').addClass('drawer-open');
    });
  };
</script>
<!-- justin-area end -->
{% schema %}
    {
      "name": "Simple Product Grid",
      "settings": [
        {
          "type": "text",
          "id": "product_grid_name",
          "label": "Product Grid Section Name"
        },
        {
        "type": "collection",
        "id": "product_grid_collection",
        "label": "Pick Collection"
        }
      ],
    "presets": [
    {
      "name": "Simple Product Grid",
      "category": "section"
    }
  ]
    }
  {% endschema %}
  
  {% stylesheet %}
  
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}